[core]
	excludesfile = /Users/harriswang/.gitignore_global
	autocrlf = input
	safecrlf = true
[user]
	name = Harris
	email = harriswan9a@gmail.com
[http]
	sslVerify = true
[color]
	ui = true


[includeIf "gitdir:~/97/"]
  path = .git.d/.gitconfig-97

[pull]
	rebase = true
